<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://github.com/kennethgjohnson/TodosAndBeyondTutorialApp" class="navbar-brand">Grant's app Repo</a>
        </div>
        <ul class="navbar-nav">
            <li><a *ngIf="this.isWelcomeEnabled()" [routerLink]="getWelcomeURL()" class="nav-link">Home</a></li>
            <li><a *ngIf="this.isTodoEnabled()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="this.isLoginEnabled()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="this.isLogoutEnabled()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>